## .NET
bin/
obj/
build/
dist/
*.user
*.userprefs
*.suo
*.sln.docstates
*.nupkg
*.snupkg
*.binlog
*.coverage
coverage*.json
coverage*.xml
artifacts/
**/[Pp]ackages/*
.vs/
.idea/
*.DotSettings.user
project.lock.json

## ASP.NET Core local config
appsettings.*.local.json

## Node
node_modules/
dist/
build/
coverage/

## Docker
docker-compose.override.yml
*.log
.Docker

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Env vars & secrets
.env
.env.*
!.env.example
secrets/*.txt